<table>
    <tr>
        <td><h2>TV title:</h2></td>
        <td><h2>{{ applications.name }}</h2></td>
    </tr>
</table>

<table>
    <tr>
        <td><h3>Rating:</h3></td>
        <td><h3>{{applications.rating}}</h3></td>
    </tr>
</table>      

<div>
    <img src="{{ applications.image}}" alt="">
</div>


<div>
    <h3>{{{applications.summary}}}</h3>
</div>


<div>
    <a href="{{applications.official_site}}">Official site</a>
</div>

<div>
    <a href="/">Back</a>
</div>



